
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}
.brand-header {
      text-align: center;
      margin-bottom: 16px;
    }

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}


h2 {
    text-align: center;
    color: #0c0c0c;
    margin-bottom: 20px;
}


label {
    display: block;
    font-size: 14px;
    margin: 8px 0 4px;
    color: #070000;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #158fb5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #141414;
}


